.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.btn {
    color: #bb0003;
}

.jumbotron {
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn {
    margin-bottom: 5%;
}

.header-image img {
    float: left;
    margin-right: 2%;
}

.header-image h3 {
    position: relative;
}

.text-box{
    margin-top: 10%;
}

a {
    color: #bb0003;
}